<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
      <div class="container">
        <div class="cc-contact">
          <div class="row">
            <div class="col-md-9">
              <div class="card mb-0" data-aos="zoom-in">
                <div class="h4 text-center title">Contact Me</div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card-body">
                      <form name="form" (ngSubmit)="f.resetForm()" #f="ngForm" >
                        <div class="p pb-3">
                          <strong>Feel free to contact me </strong>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group">

                              <input 
                              class="form-control" 
                              type="text" 
                              name="name" 
                              placeholder="Name"
                              [(ngModel)]="model.name" 
                              #name="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" 
                              required />

                            </div>
                            <span *ngIf="name.touched && name.invalid"><p class="pError">This field is required.</p></span>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-container">

                              <input 
                              class="form-control" 
                              type="text" 
                              name="subject" 
                              #subject 
                              placeholder="Subject"
                              [(ngModel)]="model.subject" 
                              #subject="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }"/>

                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group">
                              <input 
                              class="form-control" 
                              type="email" 
                              name="email"  
                              email
                              required 
                              placeholder="E-mail"
                              [(ngModel)]="model.email" 
                              #email="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                            </div>
                            <span *ngIf="email.touched && email.invalid && email.pristine"><p class="pError">This field is required.</p></span>
                            <span *ngIf="email.touched && email.invalid && email.dirty"><p class="pError">Please enter a valid email.</p></span>
                          </div>
                        </div>
                    
                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-group">
                              <textarea 
                              class="form-control" 
                              name="message" 
                              placeholder="Your Message"
                              [(ngModel)]="model.message" 
                              #message="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                            </div>
                            <span *ngIf="message.touched && message.invalid"><p class="pError">Please enter your message.</p></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <button 
                            class="btn btn-primary" 
                            type="submit" 
                            (click)="onSubmit(name.value, subject.value, email.value, message.value)"
                            [disabled]="!f.valid"> Send</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                        <p class="mb-0">
                            <strong>Phone</strong>
                        </p>
                        <p class="pb-2">+216 21655035</p>
                        <p class="mb-0">
                            <strong>Email</strong>
                        </p>
                        <p>oussema.guedri@insat.u-carthage.tn</p>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-snotify class="material"></ng-snotify>


