<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up">
                                <i class="icon-pen2"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Tunisie Telecom Sidi Bouzid - Tunisie</div>
                                        <div class="h6 mt-0 title">Web development internship (2020-08 - 2020-09)</div>
                                        <ul>
                                            <li><p align="justify">Conception and development of a web platform.</p></li>
                                            <li><p align="justify">Graphically visualize the different fixe and mobile services offered by Tunisie Telecom in the Sidi Bouzid region.</p></li>
                                        </ul>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li>Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                            <li>Agile</li>
                                                            <li>Angular9</li>
                                                            <li>NodeJS</li>
                                                            <li>ExpressJS</li>
                                                            <li>Angular Material</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Bootstrap</li>
                                                        <li>MongoDB</li>
                                                        <li>Git</li>
                                                        <li>Github</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="icon-pen2"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Wattnow SA Tunis - Tunisie</div>
                                        <div class="h6 mt-0 title">End of studies internship (applied license) (2019-02 - 2019-06)</div>
                                        <ul>
                                            <li><p align="justify">Design and development of a cross-platform application.</p></li>
                                            <li><p align="justify">Establish a connection with devices via bluetooth low energy (BLE) and display the collected data.</p></li>
                                            <li><p align="justify">Control the data.</p></li>
                                        </ul>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li>Software Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Ionic4</li>
                                                        <li>Firebase</li>
                                                        <li>Bootstrap</li>
                                                        <li>Angular Material</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Agile</li>
                                                        <li>Bitbucked</li>
                                                        <li>Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        