<div class="section" id="certificates" style="text-align: center;">
    <div class="container cc-certificates">
        <div class="h4 text-center mb-4 title">Certificates</div>
   

        <div class="row">
  
            <div class="col-md-4 col-sm-6 animate-box" *ngFor="let c of certifs" data-animate-effect="fadeInLeft">
            <div class="blog-entry">
            <div class="card" >
              <a href={{c.link}}
              target="_blank">
                <img class="card-img-top" src={{c.src}} alt="Card image" style="width:100%">
              </a>
            </div>
          </div>
          </div>
        
          </div>
  

    </div>
</div>


