<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2019-now</p>
                        <div class="h5">National Institute of Applied Science and Technology</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Engineering degree</div>
                                <h4 class="category">Software engineering</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-2019</p>
                        <div class="h5">National Institute of Applied Science and Technology</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Applied License of Software Engineering</div>
                            <h4 class="category">Computer science & software</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2018</p>
                        <div class="h5">National Institute of Applied Science and Technology</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Integrated Preparatory Cycle (MPI)</div>
                                <h4 class="category">Common trunk: Math-Physics-Computer science</h4>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               