
<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>      
    <div class="row">
  
    <div 
    class="col-md-6 col-sm-6 animate-box" 
    *ngFor="let p of allProjects" 
    data-animate-effect="fadeInLeft">
    <div class="blog-entry">
    <div class="card" >
      <img 
      class="card-img-top" 
      src={{p.src}} 
      alt="Card image" 
      style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{p.title}}</h4>
        <h5 class="card-text"><b>Technology :</b>{{p.technologies}}</h5>
        <!--
          <a *ngIf="p.url" [href]="p.url" target="_blank">Check it !</a>
        -->
      </div>
    </div>
  </div>
  </div>

  </div>
  </div>
</div>